/*!
 * Theme Menu Css created by Shahid (Scientech)
 */
 
/*Menu Section--------------------------------------------------------------------------*/
 
.navbar_section {
	background: transparent;
}
.navbar-inverse .navbar-toggle {
    background: none repeat scroll 0 0 #66d1b9;
    border-color: #ffffff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #66d1b9;
}
.navbar-inverse {
    border-color: none;
    border-style: none;
    border-width: 0px;
    padding: 5px 0;
	border-color: none;
}
.navbar-brand {
    font-size: 18px;
    height: auto;
    line-height: 35px;
	padding: 22.5px 15px 22.5px 0px;
	margin-right: 50px;
}
.navbar-inverse {
    background-color: transparent;
    border-bottom: 0;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	padding: 5px 0;
}
.navbar {
    border-radius: 0px;
}
.navbar-wrapper {
	margin-top: 8px;
}/*
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}*/
.navbar-wrapper {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
	}
	
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    background-color: #66d1b9;
	color: #FFFFFF;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
	background-color: #66d1b9;
	color: #FFFFFF;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
	background-color: #66d1b9;
	color: #FFFFFF;
}
.navbar .navbar-nav > li {
    margin-right: 5px;
    padding: 0 0 0px 0px;
}
.navbar .navbar-nav > li > a {
    line-height: 20px;
    padding: 11px 16px;
	border-radius: 0px 0px 0px 0px;
	color: #ffffff;
	font-family: 'Roboto';
	font-weight:400; 
	/* text-transform: uppercase; */
	font-size: 15px;
}
.nav {
    /* position: relative; 
    top: 20px;*/
	margin-top: 26px;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-collapse {
    max-height: 100%;
}
/*Dropdown Menus & Submenus Css*/
.dropdown-menu {
    padding: 0;
	min-width: 250px;
}
.dropdown-menu > li > a {
    color: #666666;
    font-family: 'Roboto';
	font-weight:400;
    font-size: 15px;
    line-height: 20px;
    padding: 15px 20px;
	border-bottom: 1px solid #DEDEDE;
}
.dropdown-menu > li > a:last-chlid {
	border-bottom: 0px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #66d1b9;
}
.dropdown-submenu{
    position:relative;
}
.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100% !important;
    margin-top:-2px;
    margin-left:-1px;
    -webkit-border-radius:0px 0px 0px 0px;
    -moz-border-radius:0px 0px 0px 0px;
    border-radius:0px 0px 0px 0px;
}
.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}
.dropdown-submenu > a:after{
    /* display:block;
    content:" ";
    float: right;
    width: 0 !important;
    height:0 !important;
    border-color: 0px !important;
    border-style: solid solid dotted !important;
    border-width: 6px 3px 0 !important;
	border-radius: 50% !important;
    margin-top:9px;
    margin-right:-10px; */
}
.dropdown-submenu i {
	font-size: 14px;
	float: right;
	line-height: 1.5;
}
.dropdown-submenu .pull-left{
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 15px 15px 15px 25px;
}
.navbar-right .dropdown-menu {
    left: 0;
    right: 0;
}
.navbar-nav > li > a > i {
    font-size: 18px;
    line-height: 20px;
    margin-left: 5px;
    padding-top: 0;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #66d1b9;
    color: #fff;
    outline: 0 none;
    text-decoration: none;
} 


/* .navbar-collapse {
    margin-left: 15px !important;
    margin-right: 15px !important;
	} */
/*Menu with Login and Register Buttons--------*/
.navbar-form {
    margin: 0px;
}
.btn_login {
    background-color: #66d1b9;
	font-family: 'Roboto';
	font-weight:700;
	font-size: 14px;
	line-height: 20px;
	/* text-transform: uppercase; */
	border: 0px none;
    color: #ffffff;
	border-radius: 0px;
	padding: 11px 16px;
	margin-right: -4px;
}
.btn_login:hover, .btn_register:hover {
    color: #ffffff;
}
.btn_register {
    background-color: #072720;
	font-family: 'Roboto';
	font-weight:700;
	font-size: 14px;
	line-height: 20px;
	/* text-transform: uppercase; */
    border: 0px none;
    color: #ffffff;
	border-radius: 0px;
	padding: 11px 16px;
}
/* .row {
    margin-left: 0px;
    margin-right: 0px;
} */